<div>
  <div *ngIf="currentSong == '-1'" class="centeredButtons">
    <button md-raised-button color="primary" (click)="start()">Begin</button>
  </div>

  <div class="musicPlayer" *ngIf="currentSong != '-1'">
    <div class="musicPlayerTop">
      <div class="title">{{appState.fma[currentSong].title}}</div>
      <div class="artist">By: {{appState.fma[currentSong].artist}}</div>
    </div>

    <div class="musicPlayerSliderSection">
      <div>
        {{numberToTimeString(currentTime)}}
      </div>
      <md-slider
        class="musicPlayerSlider"
        [max]="audio.duration"
        [min]="0"
        [value]="currentTime"
        (input)="seek($event)"
      >
      </md-slider>
      <div>
        {{numberToTimeString(audio.duration)}}
      </div>
    </div>

    <div class="musicPlayerBottom">
      <button md-fab color="warn" (click)="dislike()"><md-icon>thumb_down</md-icon></button>

      <button md-fab color="accent" (click)="pause()" *ngIf="!audio.paused"><md-icon>pause</md-icon></button>
      <button md-fab color="accent" (click)="resume()" *ngIf="audio.paused"><md-icon>play_arrow</md-icon></button>

      <button md-fab color="primary" (click)="check()"><md-icon>favorite</md-icon></button>
    </div>
  </div>
</div>
