<div class="width">
  <md-chip-list *ngIf="appState.selectedGenre" class="chipGroupSpacing">
    <md-chip
      class="chipSpacing"
    >{{appState.selectedGenre}}</md-chip>
  </md-chip-list>

  <md-chip-list *ngIf="appState.unselectedArtists" class="chipGroupSpacing">
    <md-chip
      *ngFor="let artist of appState.unselectedArtists"
      class="warnChipSpacing"
    >
      {{artist}}
    </md-chip>
  </md-chip-list>

  <md-chip-list *ngIf="appState.likedSongs" class="chipGroupSpacing">
    <md-chip
      *ngFor="let song of appState.likedSongs"
      class="chipSpacing"
    >
      {{song.title}}
    </md-chip>
  </md-chip-list>

  <md-chip-list *ngIf="appState.dislikedSongs" class="chipGroupSpacing">
    <md-chip
      *ngFor="let song of appState.dislikedSongs"
      class="warnChipSpacing"
    >
      {{song.title}}
    </md-chip>
  </md-chip-list>

  <md-tab-group
    [selectedIndex]="appState.selectedIndex"
    (selectedIndexChange)="tabIndexChange($event)"
    dynamicHeight="true"
  >
    <md-tab label="Genres" style="width:175px">
      <genre [genres]="genres"></genre>
    </md-tab>
    <md-tab label="Artists" [disabled]="!appState.selectedGenre">
      <artists></artists>
    </md-tab>
    <md-tab label="Listen" [disabled]="!appState.selectedGenre">
      <listen></listen>
    </md-tab>
    <md-tab label="Recommendations" [disabled]="appState.likedSongs.length < 5">
      <div style="display:flex;flex-wrap: wrap;justify-content: space-between;">
        <div *ngFor="let songId of getObjectKeys(appState.recommendedSongs)">
          <musicPlayer
            [song]="appState.recommendedSongs[songId]"
            [songId]="songId"
          >
          </musicPlayer>
        </div>
      </div>
    </md-tab>
  </md-tab-group>

</div>
