.width {
  width: 700px;
}

.chip {
  margin: 3px 5px;
}

.warnChip {
  margin: 3px 5px;
  background-color: #F44336;
  color: white;
}

.chipGroupSpacing {
  margin: 20px;
}

.closeChip {
  font-size: 10px;
  height:10px;
  width:16px
}
