$nav-button-color: #00838F;

$dark-primary-color: #7B1FA2;
$default-primary-color: #9C27B0;
$light-primary-color: #E1BEE7;
$text-primary-color: #FFFFFF;
$accent-color: #9E9E9E;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
$error-color: #F44336;
